framework-process/src/main/resources/META-INF/job.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.schemea.hyb.com/schema/job"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.schemea.hyb.com/schema/job"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- 配置job -->
    <xsd:element name="job">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ 任务job对象 ]]>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="context" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ 引用子节点 minOccurs至少需要配置数量]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>

            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ 唯一ID ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ 指定的class路径 ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ref" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ ref引用对象 ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="init-method" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ job对象创建后调用初始化方法。 ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="context">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ context节点 ]]>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="node" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ 引用子节点 minOccurs至少需要配置数量]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="class" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="node">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ 流程节点对象 ]]>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="decision" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ 引用子节点 minOccurs至少需要配置数量]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="node" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ 引用子节点 minOccurs至少需要配置数量]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[节点的名称]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="class" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="scope">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="singleton"/>
                        <xsd:enumeration value="prototype"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="decision">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ decision节点 ]]>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="decide" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="expression" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>